@page
@model AcademicPageDotNet.Pages.PublicationsModel
@{
    ViewData["Title"] = "Publications";
}

<br />
<h1>@ViewData["Title"]</h1>
<br />

@foreach (var publication in @Model._publicationList)
{
    <div class="card mb-3" data-bs-theme="dark">
        <img src="@publication.TeaserUrl" class="card-img-top" alt="teaser">
        <div class="card-body">
            <h4 class="card-title">@publication.Title</h4>
            <p class="card-text">
                @*TODO: Optimize logic. (a label iff author.null is not null)*@
                @foreach (var author in @publication.Authors)
                {
                    @if ((author.Type & AuthorType.WebsiteOwner) != 0)
                    {
                        <strong>@author.label</strong>
                    }
                    else
                    {
                        @if (author.url == null)
                        {
                            <label>@author.label</label>
                        }
                        else
                        {
                            <a href="@author.url" target="_blank">@author.label</a>
                        }
                    }
                    if ((author.Type & AuthorType.FirstAuthor) != 0)
                    {
                        @Html.Raw("*")
                    }
                    @Html.Raw("&nbsp;")
                }
            </p>
            <p class="card-text">@publication.Introduction</p>
            @foreach (var link in @publication.Links)
            {
                <a href="@link.url" class="btn btn-outline-primary" tabindex="-1" role="button" aria-disabled="true" target="_blank"
                    style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">@link.label</a>
            }
            <p class="card-text"><small class="text-muted">@publication.PublicationName, @publication.State</small></p>
        </div>
    </div>
}
